body{
    background-color: #202020;
    color:#3C3C3C;
}
a{
    color:#8B0000;
}
table{
    margin:auto;
    width: 800px;
    background-color: #FFD700;
    border: 2pt solid black;
}
td{
    padding: 10pt;
}
table td:first-child{
    width: 150px;
    vertical-align: top;
}
h1{
    text-align: center;
}
p{
    text-align: justify;
}